apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - path: patch.google.yaml
    target:
      group: config.openshift.io
      kind: OAuth
      name: cluster
      version: v1
